/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Generics */

  body {
    font-family: 'Open Sans', sans-serif;
  }

  header {
    height: 60px;
    background-color: rgb(0, 132, 253);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    

  }

  main {
    padding-top: 80px ;
  }

  nav {
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;

  }

  footer {
    min-height: 200px;
    background-color: rgb(51, 51, 51);
  }

  li {
    color: white;
    list-style: none;
    margin: 10px;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .column h4 {
    color: rgb(0, 132, 253);
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 20px;
  }

  .column p {
    color: rgb(110, 134, 155);
    margin-bottom: 30px;
  }

  .fa-solid {
    color: rgb(0, 132, 253);
    font-size: 100px;ù
  }


  /* Utils */

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .flex {
    display: flex;
  }

  .border {
    border: 1px dashed black;
    min-height: 500px;
  }

  .wht-bttn {
    border: 1px solid black;
    padding: 8px 12px;
    border-radius: 20px;
    color: black;
    background-color: #fff;
  }

  .blue-bttn {
    /* border: 1px solid black; */
    padding: 8px 25px;
    border-radius: 20px;
    color: white;
    background-color: rgb(0, 132, 253);
    font-weight: 5;
  }

  section {
    min-height: 500px;
  }

  section:nth-child(even) {
    background-color: rgb(151, 146, 228);
  }

  

  /* Navbar */

  .fa-bars {
    color: #fff;
    font-size: 30px;
  }

  .navbar-logo ·{
    padding-left: 10px;
  }

  /* Demo Application Section */

  .column {
    flex-wrap: wrap;
    margin-top: 30px;
    
  }

  .card {
    border: 10px solid white;
    flex-basis: calc(100% / 3);
    min-height: 200px;
    background-color: rgb(181, 221, 255);
    text-align: center;
    border-radius: 20px;
    padding: 30px 10px;
  } 

  .card-big {
    border: 10px solid white;
    flex-basis: calc((100% / 3) * 2);
    min-height: 200px;
    background-color: rgb(181, 221, 255);
    padding: 10px;
    border-radius: 20px;
    justify-content: space-around;
  }

  .card-big-left {
    width: 40%;

  }

  .card-big-left h4 {

  }



  .card-big-right img {
    height: 345px;
    position: relative;
    bottom: -30px;
  }

  /* Media Queries */

  @media screen and (min-width: 769px) {
    .hidden-menu {
        display: none;
    }
    
  }

/* -----TABLET----- */

 /* M.Q. Navbar */
  @media screen and (max-width: 768px) {
    .hidden-navbar {
        display: none;
    }

    .navbar-logo {
        padding-left: 10px;
    }
    
  }

 /* M.Q. Demo Section */
  @media screen and (max-width: 768px) {
    .card-big {
        flex-direction: column;
        
    }

    .card-big-right img {
        height: 345px;
        position: relative;
        bottom: -15px;
      }

    .card-big-left {
        width: 100%;
    }
    
  }


  /* ------MOBILE------ */

 /* M.Q. Navbar */
  @media screen and (max-width: 425px) {
    .hidden-navbar {
        display: none;
    }

    .navbar-logo {
        padding-left: 10px;
    }
    
  }


 /* M.Q. Demo Section */
  @media screen and (max-width: 425px) {
    .column {
        flex-direction: column;
    }

    .card,.card-big {
        margin: 0 10px;
    }
    
  }